[Unit]
Description=Gunicorn instance to serve Flask application
After=network.target

[Service]
User=ubuntu
Group=www-data
WorkingDirectory=/home/ubuntu/workspace/myapp
Environment="PATH=/home/ubuntu/workspace/myapp/venv/bin"
ExecStart=/home/ubuntu/workspace/myapp/venv/bin/gunicorn -b 0.0.0.0:5000 app:app

[Install]
WantedBy=multi-user.target
